@use '../../Assets/Styles/Project/_project' as *;

.header {
    @include col-layout-container(none, $justify-items: center, $align-items: center);
    width: $header-width;
    height: $header-height;
    grid-template-areas: "pad-left adminMenuButton title title userMenuButton pad-right";
    position: fixed;
    top: $header-top;
    left: $header-left;
    z-index: map-get($z-index, fixed-header);
    box-shadow: $global-shadow;
    background: map-get($colors, secondary);
}

.header__title {
    grid-area: title;
    color: map-get($colors, white);
}
