@use '../../../Assets/Styles/Project/_project' as *;

/**
 * Create the button
 *
 * @param   $bg-color           the background color, default value 'transparent'
 * @param   $text-color         the text color, default value 'map-get($colors, black)'
 * @param   $bg-color-hover     the hover background color, default value 'transparent'
 * @param   $text-color-hover   the hover text color, default value 'map-get($colors, muted)'
 * @param   $border-radius      the border radius, default value '0'
 * @param   $padding-y          the padding of button on y axis, default value '0'
 * @param   $padding-x          the padding of button on x axis, default value '0'
 */
@mixin button($bg-color: transparent, $text-color: map-get($colors, black), $bg-color-hover: transparent, $text-color-hover: map-get($colors, muted), $border-radius: 0, $padding-y: 0, $padding-x: 0) {
    padding: $padding-y $padding-x;
    border-radius: $border-radius;
    background: map-get($colors, $bg-color);
    color: map-get($colors, $text-color);
    cursor: pointer;

    &:active,
    &:hover {
        background: $bg-color-hover;
        color: $text-color-hover;
    }
}

/**
 * Create styled button
 *
 * @param   $style              the button style
 */
@mixin button-styled($style: primary) {
    $text-color: map-get($colors, white);
    $bg-color: map-get($colors, $style);

    @if $style == secondary {
        $bg-color: map-get($colors, secondary);
    } @else if style == info {
        $bg-color: map-get($colors, info);
    } @else if style == muted {
        $bg-color: map-get($colors, muted);
    } @else if style == success {
        $bg-color: map-get($colors, success);
    } @else if style == warning {
        $bg-color: map-get($colors, warning);
    } @else if style == danger {
        $bg-color: map-get($colors, danger);
        $text-color: map-get($colors, black);
    } @else if style == white {
        $bg-color: map-get($colors, white);
        $text-color: map-get($colors, black);
    } @else if style == black {
        $bg-color: map-get($colors, black);
    }

    @include button($bg-color: $bg-color, $text-color: $text-color, $bg-color-hover: rgba($bg-color, $button-hover-alpha), $text-color-hover: rgba($text-color, $button-hover-alpha), $border-radius: $global-border-radius, $padding-y: $global-spacing, $padding-x: $global-gap);
}
